<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="<?php echo base_url();?>css/customer.css">
	</head>
	<body>
		<div class = "main_container"></div>
		<div class = "Container">
			<div class = "Wel_Cus">	WELCOME TO CUSTOMER </div>
            <form>
                <div class = "User">Username :</div>	<input class ="UserName"type="text" name="login" value="" placeholder="User Name"> 
                <div class = "ID">Email ID :</div>	<input class ="Email"type="text" name="login" value="" placeholder="Email ID"> 
                <div class = "Contact">Contact :</div>	<input class ="Number"type="text" name="login" value="" placeholder="Mobile No"> 
                <button class = "OK_Button" name="button" value="OK" type="submit"> OK </button>
            </form>    
        </div>
	
	</body>
	</html>
