<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="owner.css">
	</head>
	<body>
		<div class ="Container1"> 
			<div class = "Wel_Cus1">	WELCOME TO TRUCK OWNER </div>
   <div class = "User1">Username :</div>	<input class ="UserName1"type="text" name="login" value="" placeholder="User Name"> 
	<div class = "ID1">Email ID :</div>	<input class ="Email1"type="email" name="login" value="" placeholder="Email ID"> 
	<div class = "Contact1">Contact :</div>	<input class ="Number1"type="text" name="login" value="" placeholder="Mobile No">
	<div class = "Ass_Name">Assosiation Name :</div><input class ="Name_Ass"type="text" name="login" value="" placeholder="Association Name"> 
	<div class = "Ass_ID">Assosiation ID : </div><input class ="ID_Ass"type="email" name="login" value="" placeholder="Association ID"> 
	<div class = "Ass_Loc">Association Location :</div><input class ="Loc_Ass"type="location" name="login" value="" placeholder="Location"> 
	<button class = "OK_Button1"name="button" value="OK" type="button"> OK </button>			
		</div>
	</body>
	</html>
